.hieuUngDanhMuc:hover{
    background-color: #33FFFF;
}

.boGachChan{
    color: black;
}
.boGachChan:hover{
    text-decoration: none;
    color: red;
}
.boGachChanXemThem:hover{
    text-decoration: none;
    color: green;
}

.test1{
    color: blue;
    font-style: 35px;
    background-color: #33FFFF;
}