<!-- Start header -->
    <header id="Header">
        <nav class="navbar navbar-expand-sm navbar-expand-xl navbar-light bg-light">
            <!-- Logo -->
            <a class="navbar-brand" href="/"><i class="fas fa-book-reader"></i>Tân Phước</a>
            <!-- Search -->
            <form class="form-inline mx-auto">
                <input class="form-control formSearch" type="text" placeholder="Nhập nội dung cần tìm">
                <button class="btn btn-outline-success " type="submit">Tìm kiếm</button>
            </form>
            <!-- Sign in/ Sign out -->
            <a href="Signin.html" class="btn btn-outline-primary active" role="button" aria-pressed="true">Đăng nhập</a>
        </nav>
    </header>
<!-- End header -->