<section id="mainAdmin">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="list-group">
                            <p href="#" class="list-group-item list-group-item-action listBang" style="background-color:#f94f2e; color: white;"><i class="fas fa-home"></i>  Bảng điều khiển</p>
                            <button type="button" class="list-group-item list-group-item-action listBang" data-toggle="modal" data-target="#DkyThanhVien"><i class="fas fa-user-plus"></i>  Đăng ký thành viên</button>
                            <a href="quanlynhanvien.html" class="list-group-item list-group-item-action listBang "><i class="fas fa-user"></i>   Quản lý nhân viên</a>
                            <a href="quanlydocgia.html" class="list-group-item list-group-item-action listBang "><i class="fas fa-user"></i>  Quản lý độc giả</a>
                            <a href="quanlysach.html" class="list-group-item list-group-item-action listBang "><i class="fas fa-book"></i>  Quản lý sách</a>
                            <a href="thongke.html" class="list-group-item list-group-item-action listBang "><i class="fas fa-coins"></i> Thống kê </a>
                        </div>
                    </div>

                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                        <div class="mucTongQuan">
                            <h3>Tổng quan</h3>
                        </div>
                        <div class="row quanLyHienThiThongTin">
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="hienThiThongTin" >
                                    <h2><i class="fas fa-users"></i>  333</h2>
                                    <h4>Người đọc</h4>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="hienThiThongTin" >
                                    <h2><i class="fas fa-signal"></i> 333</h2>
                                    <h4>Người truy cập</h4>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="hienThiThongTin" >
                                    <h2><i class="fas fa-user-tie"></i> 40</h2>
                                    <h4>Nhân viên</h4>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mucNhanVien">
                            <h3>Nhân viên tiêu biểu</h3>
                        </div>
                        <table class="table bangNhanVien">
                            <thead>
                                <tr>
                                    <th>Số thứ tự</th>
                                    <th>Họ và tên</th>
                                    <th>Chức vụ</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th >1</th>
                                    <td>Nguyễn Văn An</td>
                                    <td>Thủ thư</td>
                                    <td>nvan@gmail.com</td>
                                </tr>

                                <tr>
                                    <th >2</th>
                                    <td>Lê Văn Bình</td>
                                    <td>Thủ thư</td>
                                    <td>lvbinh@gmail.com</td>
                                </tr>

                                <tr>
                                    <th >3</th>
                                    <td>Trần Văn Công</td>
                                    <td>Thủ thư</td>
                                    <td>tvcong@gmail.com</td>
                                </tr>

                                <tr>
                                    <th >4</th>
                                    <td>Nguyễn Văn An</td>
                                    <td>Thủ thư</td>
                                    <td>nvan@gmail.com</td>
                                </tr>

                                <tr>
                                    <th >5</th>
                                    <td>Lê Văn Bình</td>
                                    <td>Thủ thư</td>
                                    <td>lvbinh@gmail.com</td>
                                </tr>

                                <tr>
                                    <th >6</th>
                                    <td>Trần Văn Công</td>
                                    <td>Thủ thư</td>
                                    <td>tvcong@gmail.com</td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </section>